.newsMain{
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 2px gray;
    word-break: break-all;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.title{
    margin: 0;
    margin-bottom: 10px;
}

