.content{
    display: flex;
    justify-content: center;
}

.News{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 60px;
    margin-right: 60px;
}
.Weather{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 60px;
}
.Movie{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    margin-right: 60px;
}
.Shop{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    margin-left: 60px;
}